th{color: aqua;font-size: 60px;
}
.first_tr{
    background-color: blanchedalmond;}

    .second_tr{
        background-color: blue;
    }
    .third_tr{
        background-color: chocolate;
    }
    .forth_tr{background-color: coral;}
    .fifth_tr{background-color: crimson;}
    .sixth_tr{background-color: darkkhaki;}
    .seven_tr{background-color: blueviolet;}
    .eight_tr{background-color: chartreuse;}